nav,
nav ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  align-items: center;
}

ul li {
  margin: 0px 20px;
}

nav {
  /* border: solid 2px blue; */
  width: 100vw;
  position: absolute;
  top: 0px;
}

.logo {
  margin-right: 70vw;
  margin-left: 10px;
}

.signModal {
  position: absolute;
  top: 100px;
  right: 180px;
}
