.App {
  text-align: center;
  background-color: #c1bdb3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.calendar-container {
  /* border: solid red 2px; */
  position: absolute;
  top: 17vh;
  left: 45%;
}

.DeskLayout {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.DeskLayout > * {
  flex: 0 0 20%;
}

button:hover {
  border: 2px white solid;
}
